#API
fastapi
uvicorn[standard]

#Interfaz del equipo
streamlit

#Agente/ LLM
groq

#Utilidades
python-dotenv
requests
faker

smolagents
openai

sqlalchemy
psycopg2-binary

passlib[argon2]
pyjwt
python-multipart

psycopg2-binary
psycopg[binary]

resend