# API
fastapi==0.141.1
uvicorn[standard]==0.53.0
python-multipart==0.0.32

# Agente / LLM
groq==1.7.0

# Base de datos
sqlalchemy==2.0.54
psycopg2-binary==2.9.13

# Autenticación
passlib[argon2]==1.7.4
pyjwt==2.14.0

# Utilidades
python-dotenv==1.2.3
resend==2.47.0
